@page "/"

<HomePortal.Components.Navbar />

@*Banner*@
<div class="banner container-fluid w-100">
    <div class="container d-flex flex-wrap flex-lg-wrap flex-xxl-nowrap gap-5">
        <div class="slogan-company flex-grow-1 text-white text-center text-lg-start align-self-center p-3 p-lg-0 ">
         <h1 class="h1">IT Solutions & Bussiness Services Company</h1>
         <p class="child-title mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua, magna aliqua. ipsum is simply dummy text of the printing.</p>
             <div class="banner-btn d-flex justify-content-center justify-content-lg-center justify-content-xxl-start">
                 <p class="about-btn d-inline-block">About</p>
                 <p class="contact-us-btn d-inline-block">Contact us</p>
             </div>
         </div>
         <img src="/img/home-font.png" class="flex-grow-1 p-3 p-lg-0" />
    </div>
     
</div>

@*Provide*@
<div class="provied container-fluid w-100">
    <section class="container">
         <p class="section-title">WHAT WE PROVIDE</p>
         <h1 class="fw-bold"> IT SOLUTIONS </h1>
         <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
             <div class="it-solutions-item p-4 shadow">
                 <img src="/img/ic_is_is.png" class="it-solutions-item__img"/>
                 <p class="it-solutions-item__title">IT Solutions</p>
                 <p class="it-solutions-item__sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolore magna aliqua</p>
                 <a href="#">Read More</a>
             </div>


         </div>
    </section>
   
</div>