@inherits LayoutComponentBase

<div class="page">
    <main>
        <article style="margin: 0 !important; padding: 0 !important;" class="content p-0 m-0">
            @Body
        </article>
    </main>
</div>
