<footer class="container-fluid">
    <div class="footer-header container d-flex justify-content-between align-items-center flex-wrap">
        <div class="py-5 footer-header">
            <h1 class="section-subtitle fw-bold text-white" style="font-family: bannerTitleFont !important"> Sign Up Our Newsletter </h1>
            <p class="footer-header__subtitle text-white">We Offer An Informative Monthly Technology Newsletter - Check It Out.</p>
        </div>
        <div class="footer-header__search-bar">
            <input type="text" placeholder="Enter your mail" />
            <a class="btn-sub" href="#">Subscribe Now</a>
        </div>
    </div>
    <hr />
    <div class="footer-content container">
        <div class="web-info pt-5 pb-5 row">
            <div class="web-info__col col-12 col-sm-6 col-xxl-4">
                <h1 class="section-subtitle" style="font-family: bannerTitleFont !important">About Us</h1>
                <hr class="mb-4"/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur laboris.</p>
                <div class="web-info__col-social">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>

            <div class="web-info__col col-12 col-sm-6 col-xl-2">
                <h1 class="section-subtitle" style="font-family: bannerTitleFont !important">Our Services</h1>
                <hr class="mb-4"/>
                <ul>
                    <li><a href="#">IT Solution</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Networking Services</a></li>
                    <li><a href="#">SEO Optimization</a></li>
                    <li><a href="#">App Optimization</a></li>
                </ul>
                
            </div>

            <div class="web-info__col col-12 col-sm-6 col-xl-2">
                <h1 class="section-subtitle" style="font-family: bannerTitleFont !important">Our Services</h1>
                <hr class="mb-4"/>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Case Study</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
                
            </div>

            <div class="web-info__col col-12 col-sm-6 col-xl-4">
                <h1 class="section-subtitle" style="font-family: bannerTitleFont !important">Contact Info</h1>
                <hr class="mb-4"/>
                <div class="web-info-col__contact-item d-flex gap-3">
                    <img src="img/ic_f_phone.png" /> 
                    <div>
                        <h2>Phone</h2>
                        <h4><a href="#">080 707 555-321</a></h4>
                    </div>
                </div>

                <div class="web-info-col__contact-item d-flex gap-3">
                    <img src="img/ic_f_mail.png" /> 
                    <div>
                        <h2>Email</h2>
                        <h4><a href="#">demo@example.com</a></h4>
                    </div>
                </div>

                <div class="web-info-col__contact-item d-flex gap-3">
                    <img src="img/ic_f_address.png" /> 
                    <div>
                        <h2>Address</h2>
                        <h4>526 Melrose Street, Water Mill, 11976 New York</h4>
                    </div>
                </div>
               
                
            </div>
           
        </div>
        

    </div>
    <div class="footer-footer">
        <div class="container d-flex justify-content-between">
            <p><i class="far fa-copyright"></i> 2021 Techvio - All Rights Reserved.</p>
            <div class="d-flex gap-2"><p>Terms & Conditions</p> <code>|</code> <p>Privacy Policy</p></div>
        </div>
            
    </div>
</footer>