<div class="navbar-area position-fixed">
    @*Mobile Navbar*@
    @*<div class="md-navbar">
        <div class="container">
            <div class="md-menu bg-transparent position-absolute w-100 float-end z-index-3">
               
            </div>
            <a href="/" class="text-decoration-none">BByteSolution</a>

        </div>
    </div>*@
    @*Desktop Navbar*@
    @*<div class="navbar-content p-1">
        <div class="container bg-dark">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="/" class="text-decoration-none">BByteSolution</a>
            </nav>
        </div>
    </div>*@
</div>