/* /Components/Footer.razor.rz.scp.css */
footer[b-zdrmr58y35] {
    background-color: var(--color-footer-bg);
    color: var(--color-white);
}

.footer-header__subtitle[b-zdrmr58y35] {
    font-size: 1.1rem;
    word-spacing: 0.2rem;
    margin-top: 20px;
}

.footer-header__search-bar[b-zdrmr58y35] {
    background-color: var(--color-white);
    width: 100%;
    flex: 1;
    margin-left: 40px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-header__search-bar input[b-zdrmr58y35] {
    font-size: 1rem;
    margin-left: 30px;
}

.footer-header__search-bar a[b-zdrmr58y35] {
    background-color: var(--color-primary);
    height: 100%;
    border-radius: 3px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    font-size: 1rem;
}

footer hr[b-zdrmr58y35] {
    background-color: var(--color-white);
}

.web-info__col[b-zdrmr58y35] {
    margin-top: 30px;
}

    .web-info__col h1[b-zdrmr58y35] {
        font-size: 1.3rem;
    }

    .web-info__col p[b-zdrmr58y35] {
        line-height: 30px;
        margin-top: -5px;
    }


.web-info__col-social[b-zdrmr58y35] {
    display: flex;
    gap: 15px;
}


.web-info__col-social i[b-zdrmr58y35] {
    color: var(--color-primary);
    background-color: var(--color-white);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .web-info__col-social i:hover[b-zdrmr58y35] {
        background-color: var(--color-primary);
        color: var(--color-white);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .web-info__col ul[b-zdrmr58y35] {
        margin: 0;
        padding: 0;
    }

        .web-info__col ul li[b-zdrmr58y35] {
            margin-bottom: 20px;
        }

    .web-info__col ul li a[b-zdrmr58y35] {
        color: white;
        text-decoration: none;
        
    }

        .web-info__col ul li a:hover[b-zdrmr58y35] {
            color: var(--color-primary);
            text-decoration: underline;
        }

.web-info-col__contact-item img[b-zdrmr58y35] {
    width: 25px; 
    height: 25px;
    margin-right: 15px;
}

.web-info-col__contact-item h2[b-zdrmr58y35] {
    font-size: 1.2rem;
    font-family: bannerTitleFont;
}

.web-info-col__contact-item h4[b-zdrmr58y35] {
    word-spacing: 0.3rem;
    font-size: 1rem;
    text-decoration: none;
}
    .web-info-col__contact-item h4 a[b-zdrmr58y35] {
        text-decoration: none;
        color: var(--color-white);
    }

    .web-info-col__contact-item h4 a:hover[b-zdrmr58y35] {
        color: var(--color-primary);
    }

.footer-footer[b-zdrmr58y35] {
    background-color: #212129;
    padding: 30px 0;
    margin: 0 -3rem;
}

.footer-footer p[b-zdrmr58y35] {
    margin-bottom: 0;
}
    .footer-footer code[b-zdrmr58y35] {
        color: white;
    }

    .footer-footer p:hover[b-zdrmr58y35] {
        color: var(--color-primary);
    }
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .dropdown:hover .dropdown-menu[b-zdrmr58y35] {
        display: block;
        margin-top: 0;
        z-index: 1900;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
    .footer-header__search-bar[b-zdrmr58y35] {
        margin-left: 0;
    }

    .footer-footer[b-zdrmr58y35] {
        margin: 0 -2rem;
    }
    
}
/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
    .footer-header__search-bar[b-zdrmr58y35] {
        margin-left: 0;
    }
    
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
/* /Components/Navbar.razor.rz.scp.css */
#navbar-area[b-uovi7er347] {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    padding: 20px 0;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.dropdown i[b-uovi7er347] {
    font-size: 0.6rem;
}
.dropdown-menu[b-uovi7er347] {
    min-width: 220px;
    outline: none;
    border: none !important;
    border-radius: 0;
    padding: 0;
    margin-left: 10px;
}

.dropdown-item[b-uovi7er347] {
    padding: 12px 20px 12px 20px;
    border-bottom: 1px solid #62626235;
}



.dropdown:hover .dropdown-menu[b-uovi7er347] {
    display: block;
    margin-top: 0;
    z-index: 1900;
}

.nav-item[b-uovi7er347] {
    font-size: 1.2rem;
    font-weight: 800;
    font-family: bannerTitleFont;
    color: white !important;
    margin-right: 5px;
}

.nav-link[b-uovi7er347] {
    color: white;
    display: flex;
    flex: 1;
    padding: 10px 0;
    align-items: center;
}

.nav-link a[b-uovi7er347] {
    color: white;
    text-decoration: none;
}


.navbar button[b-uovi7er347] {
    color: white;
}

.navbar form button[b-uovi7er347] {
    background-color: var(--color-primary);
    color: white;
    border: none;
    font-size: 0.8rem;
    padding: 0.6rem 0;
    width: 120px;
}

.navbar-brand[b-uovi7er347] {
    font-family: bannerTitleFont;
    color: white;
    font-size: 2rem;
}
 
.p-m-menu[b-uovi7er347] {
    display: none;
}


.navbar-toggler[b-uovi7er347] {
    margin: 0 !important;
}

.nav-on-scroll[b-uovi7er347] {
    background-color: white;
}

.nav-on-scroll .nav-link[b-uovi7er347] {
    color: #000;
}
    .nav-on-scroll .nav-link a[b-uovi7er347]{
        color: #000;
    } 

    .nav-on-scroll .btn-menu[b-uovi7er347] {
        color: #000;
    }

.nav-on-scroll .navbar-brand[b-uovi7er347] {
    color: #000;
}

/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .dropdown:hover .dropdown-menu[b-uovi7er347] {
        display: block;
        margin-top: 0;
        z-index: 1900;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
    .banner img[b-uovi7er347] {
        flex: 1;
        min-width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }

    .collapse[b-uovi7er347] {
        border-radius: 5px;
        background-color:#fff;
    }

    .aoc-experience img[b-uovi7er347] {
        min-width: calc(100vw - 20px);
    }

    .nav-link[b-uovi7er347] {
        justify-content: space-between;
        padding-left: 20px;
        border-bottom: 1px solid #62626235;
        color: #000;
    }

    .nav-link a[b-uovi7er347] {
        color: #000;
        text-decoration: none;
    }

    .aoc-skill[b-uovi7er347] {
        padding: 0 !important;
    }

    .why-choose-us[b-uovi7er347] {
        padding: 0 !important;
    }

        .why-choose-us img[b-uovi7er347] {
            flex: 1;
            min-width: calc(100vw - 20px);
            height: calc(100vw - 20px);
        }

    .why-choose-us__item[b-uovi7er347] {
        flex-basis: 100%;
    }

    .card[b-uovi7er347] {
        min-width: 280px !important;
    }

    .dropdown:hover .dropdown-menu[b-uovi7er347] {
        display: none;
    }

    .p-m-menu[b-uovi7er347] {
        display: block;
    }

    .navbar button[b-uovi7er347] {
        margin-left: 20px;
        margin-bottom: 20px;
    }


    .nav-item:last-child a[b-uovi7er347] {
        border-bottom: 0;
    }

    .dropdown-menu[b-uovi7er347] {
        margin-left: 0;
    }

    .fa-chevron-down[b-uovi7er347] {
        display: none;
    }

    .fa-plus[b-uovi7er347] {
        display: block;
        margin-right: 15px;
        font-size: 1rem !important;
    }

    .fa-minus[b-uovi7er347] {
        margin-right: 15px;
        font-size: 1rem !important;
    }

    .dropdown:hover .dropdown-menu[b-uovi7er347] {
        display: none;
    }

    #navbar-area[b-uovi7er347] {
        padding: 10px 0;
    }


    .nav-item:last-child a[b-uovi7er347] {
        border-bottom: 0;
    }

    .dropdown-menu[b-uovi7er347] {
        margin-left: 0;
    }
}
/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
    .collapse[b-uovi7er347] {
        border-radius: 5px;
        background-color: #fff;
    }

    .navbar button[b-uovi7er347] {
        margin-left: 20px;
        margin-bottom: 20px;
    }


    .nav-link[b-uovi7er347] {
        justify-content: space-between;
        padding-left: 20px;
        border-bottom: 1px solid #62626235;
        color: #000;
    }

        .nav-link a[b-uovi7er347] {
            color: #000;
            text-decoration: none;
        }

    .nav-on-scroll .navbar-brand[b-uovi7er347] {
        color: #000;
    }

    .nav-on-scroll .collapse[b-uovi7er347] {
        color: #fff;
    }

    #navbar-area[b-uovi7er347] {
        padding: 10px 0;
    }


    .nav-item:last-child a[b-uovi7er347] {
        border-bottom: 0;
    }

    .dropdown-menu[b-uovi7er347] {
       margin-left: 0; 
    }

    .fa-chevron-down[b-uovi7er347] {
        display: none;
    }

    .fa-plus[b-uovi7er347] {
        display: block;
        margin-right: 15px;
        font-size: 1rem !important;
    }

    .fa-minus[b-uovi7er347] {
        margin-right: 15px;
        font-size: 1rem !important;
    }


    .p-m-menu[b-uovi7er347] {
        display: block;
    }

    .dropdown:hover .dropdown-menu[b-uovi7er347] {
        display: none;
    }
    
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}
/* /Pages/Index.razor.rz.scp.css */

.banner[b-jxqy1gb23m] {
    background: url(/img/home-bottom-shape.png) no-repeat bottom, linear-gradient(#301174, #0063B2, #17A8D5);
    padding: 10rem 0;
}

.slogan-company[b-jxqy1gb23m] {
    flex: 1;
    min-width: 360px;
}

    .slogan-company h1[b-jxqy1gb23m] {
        font-family: bannerTitleFont;
        font-size: 3.5rem;
    }


.child-title[b-jxqy1gb23m] {
    font-size: 1rem;
    line-height: 2.5rem;
}

.banner img[b-jxqy1gb23m] {
    flex: 1;
    min-width: 360px;
    margin: 0 auto;
}

.banner-btn[b-jxqy1gb23m] {
    vertical-align: middle;
    margin-top: 5rem;
}

.about-btn[b-jxqy1gb23m] {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #7b68ee;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    line-height: 50px;
    box-shadow: 0 7px 25px rgb(123 104 238 / 25%);
    text-decoration: none;
}


    .about-btn span[b-jxqy1gb23m] {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #3e57d0;
        -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 30px;
    }

    .about-btn:hover[b-jxqy1gb23m], .default-btn:focus[b-jxqy1gb23m] {
        color: #ffffff;
    }

        .about-btn:hover span[b-jxqy1gb23m], .default-btn:focus span[b-jxqy1gb23m] {
            width: 225%;
            height: 562.5px;
        }

.contact-us-btn[b-jxqy1gb23m] {
    border: none;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    background-color: #7b68ee;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    width: 150px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 7px 25px rgb(123 104 238 / 25%);
    text-decoration: none;
}


    .contact-us-btn span[b-jxqy1gb23m] {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #3e57d0;
        -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -1;
        border-radius: 30px;
    }

    .contact-us-btn:hover[b-jxqy1gb23m], .default-btn:focus[b-jxqy1gb23m] {
        color: #ffffff;
    }

        .contact-us-btn:hover span[b-jxqy1gb23m], .default-btn:focus span[b-jxqy1gb23m] {
            width: 225%;
            height: 562.5px;
        }

/*Provide*/
.provied[b-jxqy1gb23m] {
    background-color: var(--color-white);
}

.section-title[b-jxqy1gb23m] {
    color: var(--color-secondary-btn);
    font-family: bannerTitleFont;
    font-size: 1rem;
    text-align: center;
}

.section-subtitle[b-jxqy1gb23m] {
    font-family: bannerTitleFont;
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
}

.it-solutions-item[b-jxqy1gb23m] {
    margin-top: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    transition: transform 0.2s;
}

    .it-solutions-item a[b-jxqy1gb23m] {
        font-family: bannerTitleFont;
        font-size: 1.2rem !important;
    }

    .it-solutions-item:hover[b-jxqy1gb23m] {
        transform: translateY(-10px);
    }

        .it-solutions-item:hover img[b-jxqy1gb23m] {
            transform: scaleX(-1);
        }

.it-solutions-item__img[b-jxqy1gb23m] {
    width: 4rem;
    transition: transform 0.8s;
}

.it-solutions-item__title[b-jxqy1gb23m] {
    font-family: bannerTitleFont;
    font-size: 1.5rem;
    margin-top: 60px;
}

.it-solutions-item__sub-title[b-jxqy1gb23m] {
    font-size: 1rem;
    margin-bottom: 20px;
}

/*About Our Company*/

.about-our-company[b-jxqy1gb23m] {
    padding: 10rem 0;
}

.aoc-skill[b-jxqy1gb23m] {
    flex: 1;
    min-width: 360px;
}

    .aoc-skill h1[b-jxqy1gb23m] {
        font-size: 2.5rem;
    }

    .aoc-skill p[b-jxqy1gb23m] {
        color: #626262;
        font-size: 0.9rem;
        line-height: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.3px;
    }

.aoc-skill-persent[b-jxqy1gb23m] {
}

    .aoc-skill-persent p[b-jxqy1gb23m] {
        margin-bottom: 10px;
    }

.aoc-skill-persent-bar[b-jxqy1gb23m] {
    background-color: #7b68ee30;
    height: 6px;
}

.learn-more-btn[b-jxqy1gb23m] {
    color: white;
    padding: 0.6rem 2.6rem;
    background-color: var(--color-primary);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500 !important;
    margin-top: 40px;
}

.aoc-experience[b-jxqy1gb23m] {
    flex: 1;
    min-width: 360px;
    position: relative;
}

    .aoc-experience img[b-jxqy1gb23m] {
        width: calc(100% - 160px);
        float: right;
    }

.aoc-experience__tag[b-jxqy1gb23m] {
    position: absolute;
    z-index: 100;
    width: 240px;
    height: 180px;
    left: 40px;
    bottom: 40px;
    background-color: var(--color-white);
    border-bottom: 4px solid var(--color-secondary-btn);
}

    .aoc-experience__tag h1[b-jxqy1gb23m] {
        font-size: 5rem;
        margin: 20px 0 0 30px;
    }

    .aoc-experience__tag p[b-jxqy1gb23m] {
        margin: auto 30px;
        color: var(--color-secondary-btn);
        font-weight: 700 !important;
        font-size: 1.1rem !important;
        font-family: bannerTitleFont;
    }

/*Why Choose Us*/

.why-choose-us img[b-jxqy1gb23m] {
    flex: 1;
    min-width: 360px;
    margin: 0 auto;
}

.why-choose-us__item[b-jxqy1gb23m] {
    display: inline-flex;
    border-left: 2px solid var(--color-primary);
    border-radius: 3px;
    font-weight: 500;
    font-size: 1.1rem;
    width: 45% !important;
}



/*Index Total*/

.index-total[b-jxqy1gb23m] {
    background-color: rgba(0,0,0,0.4);
    padding: 50px 0;
}

.index-total-item[b-jxqy1gb23m] {
    text-align: center;
    flex: 1;
    min-width: 250px;
}

    .index-total-item h1[b-jxqy1gb23m] {
        font-size: 4rem;
        font-family: bannerTitleFont;
    }

    .index-total-item h3[b-jxqy1gb23m] {
        font-size: 1.5rem;
        font-family: bannerTitleFont;
    }




/*Testimonial*/

.testimonital[b-jxqy1gb23m] {
    padding-top: 50px;
}

    .testimonital h1[b-jxqy1gb23m] {
        margin-bottom: 50px;
    }

.owl-2-style[b-jxqy1gb23m] {
    padding: 0 5px;
    height: 500px !important;
    overflow: hidden;
}

.owl-carousel[b-jxqy1gb23m] {
    margin: 20px 0;
}

.media-29101[b-jxqy1gb23m] {
    background-color: #F0F0F060;
    text-align: center;
    padding: 30px 20px;
    height: 400px;
    margin-top: 10px;
}

    .media-29101 p[b-jxqy1gb23m] {
        display: inline-block;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 6em;
        line-height: 2em;
        font-weight: 300;
    }

.checked[b-jxqy1gb23m] {
    color: orange;
}

.client-avatar[b-jxqy1gb23m] {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    transform: rotate(-45deg);
}

.client-avatar__img[b-jxqy1gb23m] {
    position: absolute;
    border-radius: 50%;
    z-index: 9 !important;
    padding: 6px;
    transform: rotate(45deg);
}

.client-avatar__half[b-jxqy1gb23m] {
    flex: 1;
    z-index: 8 !important;
}

.client-avatar__half--first[b-jxqy1gb23m] {
    background-color: var(--color-primary);
}

.client-avatar__half--second[b-jxqy1gb23m] {
    background-color: #FFF;
}

.media-29101 h3[b-jxqy1gb23m] {
    font-family: bannerTitleFont;
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 20px;
}

.media-29101 p:last-child[b-jxqy1gb23m] {
    font-weight: 400;
    line-height: 1.2;
}

.client-container[b-jxqy1gb23m] {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.owl-2-style .owl-nav[b-jxqy1gb23m] {
    display: none !important;
}

.owl-nav[b-jxqy1gb23m] {
    display: none !important;
}

.owl-2-style .owl-dots[b-jxqy1gb23m] {
    text-align: center;
    position: relative;
    bottom: -30px;
}

    .owl-2-style .owl-dots .owl-dot[b-jxqy1gb23m] {
        display: none;
    }

        .owl-2-style .owl-dots .owl-dot span[b-jxqy1gb23m] {
            display: none;
            width: 15px;
            height: 3px;
            border-radius: 0px;
            background: #cccccc;
            -webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
            -o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
            transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
            margin: 3px;
        }

        .owl-2-style .owl-dots .owl-dot.active span[b-jxqy1gb23m] {
            background: #007bff;
        }

        .owl-2-style .owl-dots .owl-dot:active[b-jxqy1gb23m], .owl-2-style .owl-dots .owl-dot:focus[b-jxqy1gb23m] {
            outline: none;
        }


/*Team member*/

.team-member__item[b-jxqy1gb23m] {
    position: relative;
    text-align: center;
    min-width: 200px;
    max-width: 250px;
    margin-bottom: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-member__item-info[b-jxqy1gb23m] {
    overflow: hidden;
    text-align: center;
}

    .team-member__item-info:hover .team-member__item-social[b-jxqy1gb23m] {
        visibility: visible;
    }

    .team-member__item-info:hover .team-member__item-avatar[b-jxqy1gb23m] {
        transform: scale(1.1);
    }

.team-member__item-social[b-jxqy1gb23m] {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    z-index: 991;
    top: 0;
    width: 100%;
    height: 300px;
    visibility: hidden;
    border-radius: 5px;
}

    .team-member__item-social img[b-jxqy1gb23m] {
        width: 20px;
        height: 20px;
        margin: 10px;
        align-self: center;
    }

.team-member__item-info[b-jxqy1gb23m] {
    width: 100%;
    border-radius: 5px;
}

.team-member__item-avatar[b-jxqy1gb23m] {
    height: 300px;
    width: 100%;
    z-index: 990;
    transition: transform linear 0.3s;
}

.team-member__item h4[b-jxqy1gb23m] {
    font-family: bannerTitleFont;
    font-size: 1.5rem;
    margin-top: 30px;
}

.team-member__item p[b-jxqy1gb23m] {
    color: var(--color-secondary);
}

/*Blog and article*/


.card[b-jxqy1gb23m] {
    margin: 25px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    min-width: 300px;
    flex: 1;
}

    .card:hover .card-link[b-jxqy1gb23m] {
        color: var(--color-primary);
    }

.card-img-top[b-jxqy1gb23m] {
    height: 288px;
    background-position: center;
}

.card-subtitle[b-jxqy1gb23m] {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-primary);
}

.card-title[b-jxqy1gb23m] {
    font-size: 1.3rem;
    font-family: bannerTitleFont;
}

    .card-title:hover[b-jxqy1gb23m] {
        color: var(--color-primary);
    }

.card-text[b-jxqy1gb23m] {
    display: inline-block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4em;
    line-height: 2em;
    font-weight: 300;
}

.card-link[b-jxqy1gb23m] {
    text-decoration: none;
    font-weight: 500;
    color: #626262;
}


/*Want to work with us*/

.want-to-work-with-us[b-jxqy1gb23m] {
    position: relative;
    background: url(/img/banner-bg.jpg) no-repeat center;
    background-size: cover;
}

    .want-to-work-with-us section[b-jxqy1gb23m] {
        background-color: rgba(0,0,0,0.5);
    }

.section-text[b-jxqy1gb23m] {
    max-width: 600px;
    margin: 0 auto;
    line-height: 2;
}

.want-to-work-with-us__btn[b-jxqy1gb23m] {
    gap: 10px;
}

.call-now-btn[b-jxqy1gb23m] {
    background-color: var(--color-primary);
    padding: 0.8rem 2.4rem;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 20px;
}

.contact-us-btn-2[b-jxqy1gb23m] {
    background-color: var(--color-white);
    padding: 0.8rem 2rem;
    color: var(--color-primary);
    font-weight: 500;
    border-radius: 3px
}
/*Trusted By Over*/
.trusted-by-over[b-jxqy1gb23m] {
    text-align: center !important;
}
    .list-trusted img[b-jxqy1gb23m]{
        width: 140px;
        min-width: 120px;
        margin: 12px;
    }
/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
    .banner img[b-jxqy1gb23m] {
        flex: 1;
        min-width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }

    .aoc-experience img[b-jxqy1gb23m] {
        width: calc(100% - 40px);
    }

    .aoc-skill[b-jxqy1gb23m] {
        padding: 0 30px 0 0 !important;
    }

    .why-choose-us[b-jxqy1gb23m] {
        padding: 0 !important;
    }

        .why-choose-us img[b-jxqy1gb23m] {
            flex: 1;
            min-width: calc(100vw - 20px);
            height: calc(100vw - 20px);
        }

    .why-choose-us__item[b-jxqy1gb23m] {
        flex-basis: 100%;
    }

    .card[b-jxqy1gb23m] {
        min-width: 280px !important;
    }
}
/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    .banner img[b-jxqy1gb23m] {
        flex: 1;
        min-width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }


    .aoc-experience img[b-jxqy1gb23m] {
        min-width: calc(100vw - 20px);
        height: calc(100vw - 20px);
    }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
    .team-member__item[b-jxqy1gb23m] {
        min-width: 250px;
    }

    .card[b-jxqy1gb23m] {
        min-width: 350px;
    }
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}

@keyframes zoom-in-zoom-out-b-jxqy1gb23m {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1.2, 1.2);
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-w3zenntohh] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-w3zenntohh] {
    flex: 1;
}

.sidebar[b-w3zenntohh] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-w3zenntohh] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-w3zenntohh]  a, .top-row[b-w3zenntohh]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-w3zenntohh]  a:hover, .top-row[b-w3zenntohh]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-w3zenntohh]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-w3zenntohh] {
        display: none;
    }

    .top-row.auth[b-w3zenntohh] {
        justify-content: space-between;
    }

    .top-row[b-w3zenntohh]  a, .top-row[b-w3zenntohh]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-w3zenntohh] {
        flex-direction: row;
    }

    .sidebar[b-w3zenntohh] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-w3zenntohh] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-w3zenntohh]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-w3zenntohh], article[b-w3zenntohh] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
